.taro-typography {
  display: block;
  padding: 0 16px;
  margin: 0;
  background-color: #fff;

  .taro-typography-container {
    position: relative;

    &.has-divider {
        position: relative;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 200%;
        height: 200%;
        transform: scale(0.5);
        transform-origin: 0 0;
        content: '';
        pointer-events: none;
        border-bottom: 1px solid #eee;
      }
    }

    padding: 16px 0;
    .taro-title {
      margin: 0;
      overflow: hidden;
      color: #323233;
      font-size: 16px;
      line-height: 1.375;
    }

    .taro-desc {
      color: #8c8c8c;
      font-size: 12px;
      line-height: 1.375;
      margin-top: 8px;
    }
  }
}
